 <div>
     <h1>FAQ - Perguntas Frequentes</h1><input type="burcar-termo" placeholder="Busque por termo...">
     <button>BUSCAR</button>
 </div>
 

 <table class="table table-sm">
     <thead>
         <tr class="table-primary">
             <th scope="col">Pergunta</th>
             <th scope="col">Nova Pergunta</th>
             <th scope="col">Ordem</th>
             <th scope="col">Editar</th>
             <th scope="col">Excluir</th>
         </tr>
     </thead>
     <tbody>
         <tr class="table-primary">
             <td>Como posso ser atendido no Aplicativo Boa Vista</td>
             <td></td>
             <td>1</td>
             <td>editar</td>
             <td>excluir</td>
         </tr>
         <tr class="table-primary">
             <td>Onde encontro as informações sobre os serviços?</td>
             <td></td>
             <td>2</td>
             <td>editar</td>
             <td>excluir</td>
         </tr>
         <tr class="table-primary">
             <td>Como o guia de serviços está estruturado?</td>
             <td></td>
             <td>3</td>
             <td>editar</td>
             <td>excluir</td>
         </tr>
         <tr class="table-primary">
             <td>O que é o Guia de Serviços da Prefeitura de Boa Vista?</td>
             <td></td>
             <td>4</td>
             <td>editar</td>
             <td>excluir</td>
         </tr>
     </tbody>
 </table>