@import '../../styles.scss';

div {
    margin-bottom: 5px; 
    padding: 0px 22px 0px 22px;

    h2 {
    font-size: 19px;
    font-weight: bold;
    }

    .buscar {
        display: inline-flex;
        height: 30px;
    }

    input {
        border-color: $corborda;
        border-style: solid;
        border-width: thin;
        border-radius: 9px; 
        padding: 7px 8px 7px 5px;
        font-size: 10px;
        font-weight: bold;
        font-style: italic;
        display: inline-flex;
        width: 219px;
    
        ::-webkit-input-placeholder {
            color:$corborda;
         }
         
         :-moz-placeholder { /* Firefox 18- */
           color:$corborda; 
         }
         
         ::-moz-placeholder {  /* Firefox 19+ */
           color: $corborda;  
         }
         
         :-ms-input-placeholder {  
           color: $corborda;
         }
    }
    
    button {
       background-color: $corazul;
       color: $corbranco;
       padding: 8px 7px 8px 7px;
       border-radius: 9px;
       border-width: 0;
       display: inline-flex;
       font-size: 11px;
    }
}

 table {
    width: 95%;
    margin-left: 27px;
    border-collapse: separate;
    

    thead {
        background-color: $corazul;
        color: $corbranco;
        font-size: 13px;
    }

    th {
        padding: 4px 15px 4px 15px;
    }

    td {
        background-color: $corbranco;
        padding: 5px 15px 5px 15px;
        border: none;
        border-radius: 2px;
        box-shadow: $corborda 0px 0px 0px 0.5px;
        font-size: 12px;
    }

    span {
        float: right;
    }

    .editar {
        color: $corazul;
        position: center;
        text-align: center;
    }

    .deletar {
        color: $corvermelho;
        position: center;
    }

    .deletar-btn, .editar-btn {
        border: none;
        background-color: $corbranco;
        text-align: center;
    }

    .ordem {
        font-weight: bold;
    }
}

.ng-fa-icon {
    padding-right: 10px;
}

