<h2>{{urlCriacao() ? 'Criar' : 'Editar'}} FAQ</h2>

<div>
    <label for="objectId" *ngIf="!urlCriacao()">Id: 
        <input type="text" placeholder="Id" [(ngModel)]="faq.objectId" id="objectId" disabled>
    </label>
    <br>
    <label for="position">Posição: 
        <input type="number" [(ngModel)]="faq.position" id="position">
    </label>
    <br>
    <label for="group">Grupo: 
        <input type="text" [(ngModel)]="faq.group" id="group">
    </label>
    <br>
    <label for="question">Pergunta: 
        <input type="text" [(ngModel)]="faq.question" id="question"s>
    </label>
    <br>
    <label for="answer">Resposta:
        <textarea id="answer" cols="50" rows="5" [(ngModel)]="faq.answer" ></textarea>
    </label>
    <br>
    <label for="approved">Aprovado: 
        <input type="text" [(ngModel)]="faq.approved" id="approved">
    </label>
    <br>
    <label for="visible">Visível: 
        <input type="text" [(ngModel)]="faq.visible" id="visible">
    </label>
    <br>
    <button type="button" class="btn btn-primary">Salvar</button>
    <button type="button" class="btn btn-secondary" (click)="cancelar()">Cancelar</button>
</div>
