<h2>Editar Faq</h2>

<div>
    <label for="objectId">Id: 
        <!-- deixar não editavel -->
        <input type="text" placeholder="Id" id="objectId">
    </label>
    <label for="position">Posição: 
        <input type="number" id="position">
    </label>
    <label for="answer">Resposta: 
        <input type="text" id="answer">
    </label>
    <label for="group">Id: 
        <input type="text" id="group">
    </label>
    <label for="question">Id: 
        <input type="text" id="question">
    </label>
    <label for="approved">Id: 
        <input type="boolean" id="approved">
    </label>
    <label for="visible">Id: 
        <input type="boolean" id="visible">
    </label>
</div>