@import '../../styles.scss';

.cabecalho {
    width: 100%;
    background-color: $corazul;
} 

.logo img {
    display: block;
    max-width:200px;
    max-height:150px;
    width: auto;
    height: auto;
    padding: 15px 0px 0px 25px;
}

nav {
    margin-top: 36px;
    padding-left: 15px;
}

.menu-principal__lista {
    padding: 0;
    display: -webkit-flex;
    list-style: none;

}

.menu-principal__item {
    margin-right: 10px;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    box-shadow: rgb(199, 199, 199) 1px 1px 3px 3px
}

.menu-principal__item--atual {
    background-color: $corazul;
    color: $corbranco;
}

a {
    text-decoration: none;
    color: $corpreto;
}

.modulo {
    display: contents;
    float: left;
    color: $corbranco;
}

.logout {
    display: contents;
    float: left;
    color: $corbranco;
}

nav {
    margin-top: 36px;;
}