<header>
    <div class="cabecalho">
        <h1 class="logo">Prefeitura Boa Vista</h1>
        <div>Módulos</div>
        <div>LogOut</div>
    </div>
    <nav>
        <ul class="menu-principal__lista">
            <li>
                <button class="menu-principal__item"><a href="/#">HOME</a></button>
            </li>
            <li>
                <button class="menu-principal__item menu-principal__item--atual"><a href="/#">FAQ</a></button>
            </li>
            <li class="menu-principal__item">
                <button class="menu-principal__item"><a href="/#">LOCAIS</a></button>
            </li>
            <li>
                <button class="menu-principal__item"><a href="/#">CATEGORIAS</a></button>
            </li>
        </ul>
    </nav>
</header>