    <div class="cabecalho">
        <h1 class="logo"><img src="../../assets/images/logo.png" alt="logo-boa-vista"></h1>
        <div class="modulo"><fa-icon [icon]="faTh"></fa-icon><br>Módulos</div>
        <div class="logout"><fa-icon [icon]="faSignOutAlt"></fa-icon>LogOut</div>
    </div>
    <nav>
        <ul class="menu-principal__lista">
            <li>
                <a class="menu-principal__item" href="/#">HOME</a>
            </li>
            <li>
                <a class="menu-principal__item menu-principal__item--atual" href="/#">FAQ</a>
            </li>
            <li>
                <a class="menu-principal__item" href="/#">LOCAIS</a>
            </li>
            <li>
                <a class="menu-principal__item" href="/#">CATEGORIAS</a>
            </li>
        </ul>
    </nav>