@import '../../styles.scss';

.cabecalho {
    width: auto;
    background-color: $corazul;
    height: 90px;
    .logo {
        display: inline-flex;
        img {
            max-width:200px;
            max-height:150px;
            width: auto;
            height: auto;
            padding: 15px 0px 0px 25px;
        }
    }
    
    .modulo {
        color: $corbranco;
        padding: 15px 0px 15px 0px;
        text-align: center;
        position: relative;
    }
    .logout {
        padding: 15px 0px 15px 0px;
        color: $corbranco;
        text-align: center;
        position: relative;
    } 
}

.modulo, .logout :hover {
    cursor: pointer;
  }


nav {
    margin: 35px auto;
    padding-left: 30px;
    font-size: 12px;

}
    .menu-principal__lista {
        padding: 0;
        display: -webkit-flex;
        list-style: none;
    }

    .menu-principal__item {
        margin-right: 20px;
        border-radius: 5px;
        padding: 5px 10px 5px 10px;
        box-shadow: $corborda 1px 1px 3px 1px;
        color: $corcinza
    }
    
    .menu-principal__item--atual {
        background-color: $corazul;
        color: $corbranco;
    }
    
    a {
        text-decoration: none;
        color: $corpreto;
    }

@media(max-width: $breakpoint-sm) {
    .cabecalho {
        height: 225px;
    }
} 