    <div class="cabecalho row">
        <div class="col-md-10">
            <h1 class="logo"><img src="../../assets/images/logo.png" alt="logo-boa-vista"></h1>
        </div>
        <div class="modulo col-md-1"><fa-icon [icon]="faTh"></fa-icon><br>Módulos</div>
            <!-- <fa-icon [icon]="faSignOutAlt"></fa-icon><br>LogOut</div> -->
        <div class="logout col-md-1"><fa-icon [icon]="faSignOutAlt"></fa-icon><br>LogOut</div>
    </div>
    <nav>
        <ul class="menu-principal__lista">
            <li>
                <a class="menu-principal__item" href="/home">HOME</a>
            </li>
            <li>
                <a class="menu-principal__item menu-principal__item--atual" href="/faq">FAQ</a>
            </li>
            <li>
                <a class="menu-principal__item" href="/locais">LOCAIS</a>
            </li>
            <li>
                <a class="menu-principal__item" href="/categorias">CATEGORIAS</a>
            </li>
        </ul>
    </nav>