/* You can add global styles to this file, and also import other style files */
$corazul: #0168B4;

$corpreto: #303030;

$corcinza: #707070;

$corvermelho: #DC3545;

$corbranco: #FFF;

body {
    background-color: #FAFAFA;
    font-family: 'Roboto' !important;
}

