/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

$corazul: #0168B4;

$corpreto: #303030;

$corcinza: #707070;

$corvermelho: #DC3545;

$corbranco: #FFF;

$corborda: rgb(199, 199, 199);

body {
    background-color: $corbranco;
    font-family: 'Roboto', sans-serif;
}

